<div class="container mt-4">
    <h2>Formulario de Contactos</h2>
    <form [formGroup]="formulario" (ngSubmit)="enviar()" >
        <div class="mb-3">
            <label for="nombre" class="form-label"> Nombre: </label>
            <input type="email" name="nombre" class="form-control " formControlName="nombre" id="nombre" autocomplete="off">
            <div class="text-danger">Nombre Invalido</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" name="email" autocomplete="off">
            <div class="text-danger">Email Invalido</div>
    
        </div>
        <button type="submit" class="btn btn-primary ">Enviar</button>
        
    </form>
    </div>